# development, production
NODE_ENV=development

# fatal, error, warn, info, debug, trace, silent
LOG_LEVEL=info

MYSQL_USER=pwii-user
MYSQL_PASSWORD=pwii-password
MYSQL_DATABASE=pwii
MYSQL_HOST=localhost
MYSQL_PORT=3306