# development, production
NODE_ENV=development

# fatal, error, warn, info, debug, trace, silent
LOG_LEVEL=info

MYSQL_USER=pwii-user
MYSQL_PASSWORD=pwii-password
MYSQL_DATABASE=pwii
MYSQL_HOST=localhost
MYSQL_PORT=3306

JWT_SECRET=supersecretkey

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=example_minio_user
AWS_SECRET_ACCESS_KEY=example_minio_password
S3_ENDPOINT=http://localhost:9000
S3_BUCKET_NAME=pwii-bucket